<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bootstrap.mybatis.BoardMapper">

    <select id="boardList" parameterType="bootstrap.model.PageVO" resultType="bootstrap.model.BoardVO">
      SELECT
        	T.*
          FROM (
	        SELECT
	        	*
	        	, @ROWNUM := @ROWNUM + 1 AS ROWNUM 
	          FROM BOARD
	          , (SELECT @ROWNUM := 0) AS R
	      	ORDER BY 
	          	BOARD_NUM DESC
        ) AS T
        LIMIT #{offset}, #{listSize}
    </select>
    
    <select id="boardListTotalCount" resultType="int">
       SELECT
       		COUNT(*)
       	 FROM BOARD
    </select>
    
    <insert id="boardInsert" parameterType="bootstrap.model.BoardVO">
		insert into board(title, content, id) values(#{title}, #{content}, #{id})        
    </insert>
    
    <select id="boardDetailView"  parameterType="Integer" resultType="bootstrap.model.BoardVO">
        select * from board where board_num = #{board_num}
    </select>
    
    <delete id="boardDelete" parameterType="Integer">
    	delete from board where board_num = #{board_num}
    </delete>
    
    <update id="boardUpdate" parameterType="bootstrap.model.BoardVO">
        update board set title=#{title}, content=#{content} where board_num=#{board_num}
    </update>
    
    <update id="boardCount" parameterType="Integer">
        update board set view_cnt=view_cnt+1 where board_num=#{board_num}
    </update>
</mapper>